.example-spacer {
  flex: 1 1 auto;
}

section {
  display: flex;
  align-items: center;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input[type='text'] {
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  border: none;
}
.navbar {
  background-color: #1976d2;
  color: white;
}

.btn {
  color: white !important;
}
.btn:hover {
  background-color: #1565c0 !important;
}

a {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
