.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 70rem;
  margin: 2rem auto;
}

.heading {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

@media (max-width: 700px) {
    .user-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {
    .user-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}